* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "helvetica";
}
header {
    background-color: black;
}
header > h1 {
    text-align: center;
    color: white;
}
.mode-selection-container {
    text-align: center;
    border: solid 1px black;
    width: 50vw;
    margin: 20px auto;

}
.player-select {
    cursor: pointer;
}
#welcome-message {
    display: block;
}
.player-select {
    max-width: 5vw;
}
#lose {
    color: red;
}

#winner-container {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    background-color: white;
}
#winner-container-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#winner-container > h2 {
    text-align: center;
}
#close {
    position: absolute;
    right: 1px;
    top: 1px;
}

                /* SCOREBOARD */

.scoreboard {
    width: 100px;
    height: 30px;
    border: solid 1px black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.hide {
    display: none;
}

.option {
    max-width: 5vw;
}

.go-back {
    width: 100px;
}
.highlighted {
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
